html{
  background-color: #111;
}

.App {
  background-color: #222;
  color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

.SearchFields {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
  background-color: #333;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #555;
}

th {
  font-weight: bold;
  background-color: #444;
}

tbody tr:nth-child(even) {
  background-color: #333;
}

tbody tr:hover {
  background-color: #555;
  transition: background-color 0.3s ease;
}
